streamlit
crewai
crewai_tools
dotenv
requests
chromadb>=0.5.23  # Updated to be compatible with crewai
python-dotenv
pysqlite3-binary
numpy==1.21.6  # Ensure compatibility with chromadb 0.2.0
setuptools
